<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="">
    <h1>About this webpage</h1>
    <h2 class="divider"></h2>
    <p>This website were created by two Cambodian university students as a project for <b>Network Architecture and Data Communications</b> class at <b>Fort Hays State University</b> , taught by <b>Professor Kevin Shaffer.</b> It is built for educational purpose. This website basically describes the three most notable email standard protocols: <b>IMAP, POP3, SMTP</b></p>
    <h1>Contact:</h1>
    <h2 class="divider"></h2>
    <p><b>c_chanvuth_aup@mail.fhsu.edu</b></p>
    <p><b>c_dechkun_aup@mail.fhsu.edu</b></p>
  </div>
</ion-content>
