page-about {
  .scroll-content {
    font-size: 30px;
    text-align: center;
  }
  ion-content div {
    padding: 20px 100px 20px 100px;
  }
  .divider {
    border-bottom: 4px solid #376abf;
    margin: 0px 500px 0px 500px;
  }
  @media only screen and (max-width:800px) {
    ion-content div {
      padding: 20px 20px 20px 20px;
    }
    .divider {
      border-bottom: 4px solid #376abf;
      margin: 0px 100px 0px 100px;
    }
  }
}
