page-pop3 {
  .fixed-content {
    background-color: #eaeaea;
  }
  .toolbar-background {
    background-color: #eaeaea;
  }
  p {
    padding-left: 40px;
    padding-right: 40px;
  }

  ion-content {
    font-size: 30px;
  }
  .center {
    text-align: center;
  }

  .bold {
    font-weight: bold;
  }
  li p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-left: 2px solid #376abf
  }

  .inner-li p {
    border-left: 2px solid grey;
  }

  .divider {
    border-bottom: 4px solid #376abf;
    margin: 0px 550px 0px 550px;
  }
  ion-label {
    padding-bottom: 5px;
    border-bottom: 2px solid #376abf;
    text-align: center;
  }
  @media only screen and (max-width:800px) {
    ion-content {
      font-size: 22px;
      padding-left: 10px;
      padding-right: 10px;
    }

    p {
      padding-left: 10px;
      padding-right: 10px;
    }

    .divider {
      margin: 0px 100px 0px 100px;
    }
  }
}
