<!--
Generated template for the SmtpPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-content padding>
  <ion-navbar>
    <ion-label style="font-weight: bold">Post Office Protocol 3</ion-label>
  </ion-navbar>

  <p>Post Office Protocol ver. 3 (POP3) is the most recent version of POP protocol. POP is a client/server protocol in which email is received from a server in the Internet Protocol network.
    POP3 originated with RFC 1081 and its most recent specification is RFC 1939.
  </p>
  <p>POP3 allows the email client downloads all the emails from the server into the local device where the client is installed. Depending on your setting, the messages can be deleted from the server immediately, or after a certain period of time.
  </p>

  <div class="center">
    <span class="bold">Ports Used: </span>
  </div>
  <div class="divider"></div>
  <ul>
    <li><p>POP3 server listens on port 110 for service requests.</p></li>
    <li><p>Encrypted communication for POP3 is connected on port 995</p></li>
  </ul>

    <p style="font-size: 100px; text-align: center; margin: 0px 0px 0px 0px;" (click)="close()"><ion-icon name="ios-close-circle-outline"></ion-icon></p>
</ion-content>
