<!--
Generated template for the AboutPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>References</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="">
    <h1 style="text-align: center;">References</h1>
    <h2 class="divider"></h2>
    <ul>

      <li><p>Fastmail. N.d. “SSL vs TLS vs STARTTLS., <a href="https://www.fastmail.com/help/technical/ssltlsstarttls.html"><https://www.fastmail.com/help/technical/ssltlsstarttls.html></a> </p></li>

      <li><p>M. Rose, "Post Office Protocol - Version 3l", RFC 1081, November 1988, <a href="https://tools.ietf.org/html/rfc1081"><https://tools.ietf.org/html/rfc1081></a> </p></li>

      <li><p>M. Crispin, "INTERNET MESSAGE ACCESS PROTOCOL - VERSION 4rev1", RFC 3501, March 2003, <a href="https://tools.ietf.org/html/rfc3501"><https://tools.ietf.org/html/rfc3501></a> </p></li>

      <li><p>Postel, B. J, "Simple Mail Transfer Protocol", RFC 821, August 1982, <a href="https://tools.ietf.org/html/rfc821"><https://tools.ietf.org/html/rfc821></a> </p></li>

      <li><p>Rouse, M. n.d. “IMAP (Internet Message Access Protocol)”. <a href="https://whatis.techtarget.com/definition/IMAP-Internet-Message-Access-Protocol"><https://whatis.techtarget.com/definition/IMAP-Internet-Message-Access-Protocol.></a> </p></li>

      <li><p>Singh, M. “Simple Mail Transfer Protocol SMTP.”, <a href="https://www.geeksforgeeks.org/simple-mail-transfer-protocol-smtp"><https://www.geeksforgeeks.org/simple-mail-transfer-protocol-smtp></a> </p></li>

      <li><p>Siyan, S.K. Mar, 2002.  “The SMTP, POP, and IMAP Protocols.” <a href="http://www.informit.com/articles/article.aspx?p=25759"><http://www.informit.com/articles/article.aspx?p=25759.></a></p></li>

      <li><p>Villanueva, C. J. “SMTP vs IMAP vs POP3 - Knowing The Difference.”  Aug 06, 2015. <a href="https://www.jscape.com/blog/smtp-vs-imap-vs-pop3-difference."><https://www.jscape.com/blog/smtp-vs-imap-vs-pop3-difference.></a></p></li>

      <li><p>Wells, J. C. (Jan, 2009). “Application Layers Protocols.”, <a href="http://www.technologyuk.net/telecommunications/internet/application-layer-protocols.shtml"><http://www.technologyuk.net/telecommunications/internet/application-layer-protocols.shtml.></a></p></li>

    </ul>

  </div>
</ion-content>
