page-home {
  .fab {
    width: 200px !important;
    height: 200px !important;
    font-size: 50px;
  }

  .body {
  }

  .intro {
    padding: 50px 0px 50px 0px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #376abf;
    grid-area: intro;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .definition {
    text-align: center;
    color: #376abf;
    padding: 50px 20px 50px 20px;
  }

  .protocol-container {
    display: flex;
    flex-direction: column;
    text-align:center;
    background-color:#376abf; color: white
  }
  .protocols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
  }
  @media only screen and (max-width:800px) {
    .fab {
      width: 100px !important;
      height: 100px !important;
      font-size: 20px;
    }
    #vs {
      margin: -30px;
    }
  }

  .diagram {
    text-align: center;
    padding-top: 20px;
    color: #376abf;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

button {
  border: 4px solid grey; /* Green */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
button:hover {
    background-color: #376abf; /* Green */
    color: white;
}
