<ion-header>
  <ion-navbar>
    <ion-title>
      Network Architecture and Data Communication
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="aboutPage()">About</button>
      <button ion-button (click)="referencesPage()">References</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="body">

    <div class="intro">
      <div style="font-size:60px">
        EMAIL PROTOCOLS
      </div>
      <img src="/assets/imgs/gmail.png" alt="">
      <div style="font-size:20px; padding-top: 20px;">
        Prepared By:
        <ul style="width:100%;">
          <li>Dechkunn Chhay</li>
          <li>ChanVuth CHEA</li>
        </ul>
      </div>
      <div style="font-size:20px;">
        Network Architecture and Data Communications
      </div>
      <div style="font-size:20px; padding-top: 20px;">
        Fort Hays State University
      </div>
      <div style="font-size:20px; padding-top: 20px;">
        Professor Kevin Shaffer
      </div>
      <div style="font-size:20px; padding-top: 20px;">
        Date: 28 October 2018
      </div>
    </div>

    <div class="definition">
      <div style="font-size:40px; padding-bottom: 30px;">Wonder what terms such as "POP" and "IMAP" means when you enter into the settings of Gmail or Outlook?
      </div>
      <div style="font-size:35px; color: grey;">They are electric email protocols !</div>
    </div>

    <div style="font-size:35px; text-align: center; color: white; background-color: #376abf; padding: 70px 20px 70px 20px;">
      <p>Email Protocols are methods by which a communication channel is established between two computers and email is transferred between them</p>
      <p> They are located in Application Layer of both TCP/IP and OSI models</p>
    </div>

    <div class="diagram">
      <span style="border-bottom: 4px solid #376abf; padding-bottom: 10px; margin-left:30%; margin-right:30%;">Diagram</span>
      <div class="">
        <img style="height: 500px; width:600px; margin-top: 20px;" src="assets/imgs/model.png"/>
        <img style="height: 600px; width:600px; margin-top: 20px; border-left: 2px solid #376abf" src="assets/imgs/diagram.jpeg"/>
      </div>
    </div>

    <div class="protocol-container">
      <p style="font-size: 30px">Click One Of The Buttons Below To Learn More!</p>
      <div class="protocols">
        <div>
          <button ion-fab (click)="presentSMTP()" color="light">SMTP</button>
        </div>
        <div>
          <button ion-fab (click)="presentPOP3()" color="light">POP3</button>
        </div>
        <div>
          <button ion-fab (click)="presentIMAP()" color="light">IMAP</button>
        </div>
        <div>
          <button ion-fab (click)="presentPOPVIMAP()" color="light">
            <div style="display:flex; flex-direction:column;justify-content:center;">
              <div>
                POP
              </div>
              <div id="vs">
                vs
              </div>
              <div>
                IMAP
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="footer" style="font-size: 30px; border-bottom: 4px solid #376abf; text-align: center; padding: 70px 50px 70px 50px;">
      Thank you for visiting our website. We hope you learn something today. Have a nice day!
    </div>
  </div>
</ion-content>
