<!--
Generated template for the SmtpPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <ion-label class="label-underline" style="font-weight: bold">POP vs. IMAP</ion-label>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-label style="font-weight: bold; text-align:center">Superiority</ion-label>

  <div class="row">
    <div class="column">
      <ul>
        <li>Server Storage Space</li>
        <li>Computational overhead</li>
        <li>Privacy</li>
      </ul>
    </div>
    <div class="column" style="border-left: 2px solid #376abf">
      <ul>
        <li>Accessibility</li>
        <li>Synchronization</li>
        <li>Organization</li>
      </ul>
    </div>
  </div>

  <div class="center">
    <span class="bold">Reason why POP is superior </span>
  </div>
  <div class="divider"></div>
  <ul>
    <li><p>POP uses less server storage space since IMAP leaves messages on the server, it can consume storage space faster than POP3</p></li>
    <li><p>POP3 have less computational overhead because IMAP functionalities such as synchronizations consume a lot of RAM and CPU on both client and server side</p></li>
    <li><p>POP have better privacy since POP3 allows the users to download all the messages and remove all copies of those messages on the server.</p></li>
  </ul>

  <div class="center">
    <span class="bold">Reason why IMAP is superior </span>
  </div>
  <div class="divider"></div>
  <ul>
    <li><p>IMAP is more accessible because IMAP was designed to store messages on the server. It's meant to enable retrieval of messages from multiple devices simultaneously</p></li>
    <li><p>IMAP has the functionality to synchronize your messages throughout multiple devices. If you “read” and “delete” your email on one device, other devices are also updated as well</p></li>
    <li><p>IMAP allows users to arrange messages in a hierarchical fashion and place them in folders</p></li>
  </ul>

  <p style="font-size: 100px; text-align: center; margin: 0px 0px 0px 0px;" (click)="close()"><ion-icon name="ios-close-circle-outline"></ion-icon></p>
</ion-content>
