page-popvimap {
  .fixed-content {
    background-color: #eaeaea;
  }
  .toolbar-background {
    background-color: #eaeaea;
    border-bottom: 2px solid #376abf;
  }
  p {
    padding-left: 40px;
    padding-right: 40px;
  }

  ion-content {
    font-size: 30px;
  }
  .center {
    margin-top: 70px;
    text-align: center;
  }

  .bold {
    font-weight: bold;
  }

  .column {
    float: left;
    width: 50%;
    text-align: center;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .divider {
    border-bottom: 4px solid #376abf;
    margin: 0px 550px 0px 550px;
  }
  .label-underline {
    margin-left: -40px;
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;
  }
  @media only screen and (max-width:800px) {
    ion-content {
      font-size: 22px;
      padding-left: 10px;
      padding-right: 10px;
    }

    p {
      padding-left: 10px;
      padding-right: 10px;
    }

    .divider {
      margin: 0px 100px 0px 100px;
    }
  }
}
