<!--
Generated template for the SmtpPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-content padding>
  <ion-navbar>
    <ion-label style="font-weight: bold">Internet Message Access Protocol</ion-label>
  </ion-navbar>

  <p>Internet Message Access Protocol is another protocol that that is used to retrieve emails from a mail server over the Internet Protocol network. The most recent version of IMAP is IMAP version 4. IMAP specifications can be found in RFC 3501.</p>

  <div class="center">
    <span class="bold">What it does: </span>
  </div>
  <div class="divider"></div>
  <p>Unlike POP3, IMAP stores email on mail server. In addition, IMAP also allows the users to view, manage, and delete the messages as though all the messages are stored in the user’s device. IMP also have many features such as allowing email users to organize messages into folders, send a message to multiple client applications to let them know which messages have been read, flagging messages for urgency or follow-up, and saving draft messages on the mail server.</p>

  <div class="center">
    <span class="bold">Ports Used: </span>
  </div>
  <div class="divider"></div>
  <ul>
    <li><p>IMAP server listens on port 143</p></li>
    <li><p>Encrypted communication for IMAP is connected on port 993</p></li>
  </ul>

    <p style="font-size: 100px; text-align: center; margin: 0px 0px 0px 0px;" (click)="close()"><ion-icon name="ios-close-circle-outline"></ion-icon></p>
</ion-content>
